<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using Python + Flash</title>
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/147073922?v=4">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    
</head>
<body>
    <div id="begin">
        <img id="logo" src="static/images/logo.svg" width="100"/>
        <h1>Consuming API for <span>Python + Flask</span></h1>
    </div>

    {% if data %}
    <center>
        <form action="/category" method="POST" style="margin-bottom: 50px;">
        <label for="categoria">Categorias: </label>
        <select name="categoria" id="categoria">
            <option value="sport">Sport</option>
            <option value="news">News</option>
            <option value="tv" selected>TV</option>
            <option value="videogames">Video Games</option>
            <option value="fun">Fun</option>
            <option value="shortfilms">Short Films</option>
        </select>
        <label for="count">Limite: </label>
        <select name="count" id="count">
            <option value="30">30</option>
            <option value="20">20</option>
            <option value="10" selected>10</option>
            <option value="5">5</option>
        </select>

        <button class="btnEnviar">Enviar</button>
    </form>
    </center>

    <div class="container">
            <div class="row">
                {% for video in data %}
                <div class="col-md-3">
                    <div class="card">
                        <img id="poster" class="card-img-top" src="http://www.dailymotion.com/thumbnail/video/{{ video['id'] }}" alt="Title" />
                        <div class="card-body">
                            <p id="title"><strong>{{ video['title'] }}</strong></p>
                            <p class="card-text"> <strong>Channel:</strong> {{ video['channel'] }}</p>
                            <center>
                                <a href="http://www.dailymotion.com/video/{{ video['id'] }}" class="myBtn">Ver Video</a>
                            </center>
                         </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
    
    <div>
        <br>
    </div>
    {% else %}
        <center>
            <h2>No se pudieron cargar los datos. </br>
                Verifique su conexión a internet.</h2>
        </center>
    {% endif %}
</body>
</html>